
.bg-000{
  background-color: #000000;
}
.header-section{
  height: 80px;
}
.navbar::after{
  width: 0;
    height: 0;
    border-color: #000 transparent transparent;
    border-style: solid;
    border-width: 80px 80px 0 0;
    position: absolute;
    content: "";
    right: -80px;
    top: 0;
    z-index: 1;
}

.ant-btn{
    /* ttttt */
    text-shadow: 0 0 3px rgb(0 0 0 / 70%);
    font-family: Sony Sketch EF;
    font-size: 15px;
    border: none!important;
    color: #fff!important;
    box-shadow: 0 1px 3px rgb(0 0 0 / 70%);

    /* btn explore */
    margin-left: 10px;
    border-radius: 15px;
    height: 40px!important;
    width: 202px;
    margin-right: 20px;

    
}

.btn-explore{
  background-image: linear-gradient(180deg,#033047,#91dbff)!important;
}

.btn-market{
  margin: 0;
  background-image: linear-gradient(180deg,#033047,#13c477)!important;
}

.social-icons{
  width: 200px;
  /* height: 24px; */
}
.social-icons .icon{
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #FFFFFF;
  width: 23px;
  height: 23px;
  border-radius: 50%;
color: #FFFFFF;
  /* animation: styles_discord-pulse__1kyWV 1.5s ease-out infinite; */
}

.vr{
  background-color: #91dbff;
  opacity: .75;
  margin: auto;
  height: 28px;
}
.btn-bg{
  border: 0px;
  height: 40px;
  color: #FFFFFF;
 
}
.btn-download{
    background-color: #08f;
    position: relative;
}
.btn-download::before{
    content: "";
    width: 99%;
    height: 90%;
    top: 2px;
    position: absolute;
    -webkit-clip-path: polygon(22% 1%,100% 0,100% 100%,11% 111%);
    clip-path: polygon(22% 1%,100% 0,100% 100%,11% 111%);
    background: linear-gradient(90deg,#024675 0,#007ce5 36%,#0082f3 41%,#0083f5 44%,#007fec 49%,#0175d7 56%,#03324b);
    /* z-index: -1; */
    right: 2px;
}
.btn-join{
  position: relative;
  background-color: #f60;
}
.btn-join::before{
    content: "";
    width: 99%;
    height: 90%;
    top: 2px;
    position: absolute;
    -webkit-clip-path: polygon(11% 0,100% 0,100% 100%,0 109%);
    clip-path: polygon(11% 0,100% 0,100% 100%,0 109%);
    background: linear-gradient(90deg,#9c2b00 0,#e45600 33%,#f05d00 40%,#f35f00 46%,#ee5c00 50%,#dc5100 60%,#841d00);
    /* z-index: -1; */
    right: 2px;
}
